<app-common-navbar></app-common-navbar>
<section class="h-100">
    <div class="container custom-section-margin text-justify">
        <h3>About Us</h3>
        <div class="fullwidth-horizontal-divider"></div>
        <p>
            MASTERY.LK is one of the best education technology company in the Srilanka. We offer one of the highly personalized and effective programs for different classes. In this short span of time we have emerged as of the most preferred online education platform across Srilanka.
        </p>
        <p>
            At learn mine we believe that each student is unique in every way, they have their own pace and ways of learning. Some may grab the concept quickly while other may take time to learn it. Hence, proper attention has to be given to each learner. This is where our personalized learning program comes into picture. Where we create unique, learning experience for each child.
        </p>
        <p>
            This not only engage them but also help them to be more creative and energetic throughout the learning. This helps them to grab the concept rather than just mugging up. At Learn Mine we bring together some of the best faculty technology and content for providing a world class learning experience for our support. We understand that learning is an integral part of our existing education system.
        </p>
        <p>
            Therefore. We have integrated basic requirement of learning with some of the latest technology of the education helps. Through this integration, we have been able to create learning programs, which are:
        </p>
        <p>
            &#10004;&nbsp; Engaging <br>
            &#10004;&nbsp; Interactive <br>
            &#10004;&nbsp; Long term retention with concept clarity
        </p>
        <p>
            Our learning programs uses the best of technology and human interactions. Therefore, we hire some of the best and experienced faculties.
        </p>
        <p>
            Our faculty have best knowledge and are subject experts. They not only teaches but also have created a world renowned education content which ae designed to increase the great on our students. All our curriculums are as per syllabus prescribed by the govt of Srilanka and has been divided into the various module. Our focus is on providing efficient and effective learning to our students. 
        </p>
        <b>Some Unique Features</b>
        <p class="mt-2">
            Innovative teaching Methodology: We implement some of the most creative and innovative ways of teaching which includes use of animations, videos.
        </p>
        <p>
            Improve Collaborative Teaching: Our teaching portal allows student to interact with the faculty as well as with other students through our various online discussion forums which helps them to learn together.
        </p>
        <p>
            Privacy of Student: We do our best to protect the privacy of our students.
        </p>
        <p>
            AI or VR: In the recent years the AI has gained a lot of pace. We have also implemented in our grading system.
        </p>
    </div>
</section>
<app-copyright-sec></app-copyright-sec>
