<app-common-navbar></app-common-navbar>
<div class="h-100">
    <section class="bg-gray section" id="signin-header">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-12 col-md-5 col-lg-7 header-image-col">
                    <img src="../../assets/images/logo.png" alt="Website Logo Image">
                </div>
                <div class="col-sm-12 col-md-7 col-lg-5 header-signin-form-col">
                    <app-signin></app-signin>
                </div>
            </div>
        </div>
    </section>
    <section id="signin-bottom-section">
        <div class="container py-5 text-justify">
            <div>
                <h4>Our Mission</h4>
                <p>
                    Our mission is to provide the quality and convenient education to each child of the country. This will be achieved by optimum utilization of all the available resources and through encouragement of the active leaner. We are also committed to make education more effective by integrating latest and smart technology like artificial intelligence and virtual reality.
                </p>
                <p>
                    We extended our full support to the educators, parents and students in the process of learning by providing them all the study materials which increases their academic score. We are here to create educated people who believes in contributing towards the well-being of the society.
                </p>
            </div>
            <div class="mt-5">
                <h4>Our Vision</h4>
                <p>
                    Our Vision is to create one of the best and most advance online educational portals in the world. By imparting quality education to the students and making them ready for 21st century by enhancing their analytics skills like problem solving and decision making. We want that each student to be creative, critical thinker, having good communication skills and have more practical knowledge which helps them to face any unseen challenges in their life. So, that they came out of it with flying colours. They must be able to work in team consisting of people of different religion and background.
                </p>
            </div>
        </div>
    </section>
</div>
<app-copyright-sec></app-copyright-sec>